@keyframes dg-glow {
  0%,
  100% {
    text-shadow: 0 0 4px rgba(255, 0, 100, 0.5);
  }
  50% {
    text-shadow: 0 0 8px rgba(255, 0, 100, 1);
  }
}

.dg-glow {
  display: inline-block;
  color: #fff;
  animation: dg-glow 2s infinite;
}
