@keyframes dg-swing {
  20% {
    transform: rotate(9deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dg-swing {
  display: inline-block;
  transform-origin: top center;
  animation: dg-swing 1s forwards;
}
